@font-face {
	font-family: 'Doctor Glitch';
	src: url("../fonts/DoctorGlitch.07927f5cdfba.woff2") format('woff2'),
	url("../fonts/DoctorGlitch.18d5a19944f5.woff") format('woff');
	font-weight: normal;
	font-style: normal;
}