@font-face {
	font-family: 'Gameplay';
	src: url("../fonts/Gameplay.611b608fe896.woff2") format('woff2'),
	url("../fonts/Gameplay.29a00df6e1fb.woff") format('woff');
	font-weight: normal;
	font-style: normal;
}