@font-face {
	font-family: 'Good Idea St';
	src: url(../../assets/fonts/GoodIdeaSt.woff2) format('woff2'),
	url(../../assets/fonts/GoodIdeaSt.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}