{% load static %}
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DPS IT COUNCIL</title>
        <link rel="stylesheet" href="{% static 'style.css'%}">

    <link rel="stylesheet" href="{% static 'challenge.css' %}">
    {% csrf_token %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="{% static 'app.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>
    <script type="text/javascript">
        window.onload = function() {
            document.addEventListener("contextmenu", function(e) {
                e.preventDefault();
            }, false);
            document.addEventListener("keydown", function(e) {
                //document.onkeydown = function(e) {
                // "I" key
                if (e.ctrlKey && e.shiftKey && e.keyCode == 73) {
                    disabledEvent(e);
                }
                // "J" key
                if (e.ctrlKey && e.shiftKey && e.keyCode == 74) {
                    disabledEvent(e);
                }
                // "S" key + macOS
                if (e.keyCode == 83 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
                    disabledEvent(e);
                }
                // "U" key
                if (e.ctrlKey && e.keyCode == 85) {
                    disabledEvent(e);
                }
                // "F12" key
                if (event.keyCode == 123) {
                    disabledEvent(e);
                }
            }, false);

            function disabledEvent(e) {
                if (e.stopPropagation) {
                    e.stopPropagation();
                } else if (window.event) {
                    window.event.cancelBubble = true;
                }
                e.preventDefault();
                return false;
            }

            const csrftoken = Cookies.get('csrftoken');
            $('.verification-form').submit((e) => {
                e.preventDefault();
                $.ajax({
                    url: '/techsprint/treasurehunt_challenge/verify1',
                    type: 'POST',
                    data: {
                        code : $('.ans-field').first().val(),
                    },
                    headers: {'X-CSRFToken': csrftoken},
                    success: (result)=>{
                        document.querySelector('.ans-field').value = "";
                        if (result.answer == true){
                            alert('Congratulations! You have cracked the code. Write that code somewhere. If you refresh the page, you will have to re-enter it. :)')
                            document.querySelector('.main-content').innerHTML=""
                            document.querySelector('.main-content').innerHTML+="<button class='btn btn-lg' id='challenge'>Access the third challenge</button>"
                            document.querySelector('.verification-form').style="display: none;"
                            document.querySelector('.verification-text').style="display: none;"
                            document.querySelector('.para-text').style="display: block;"
                            document.querySelector('#clue').style+="display: block !important;"
                            document.querySelector('.para-form').style="display: block;"
                            $('#challenge').on('click', () => {
                                prompt("What is this? Try copy and pasting this code in notepad and see the entire text properly! To copy just hit Ctrl+C.\n", result.code)
                            })
                        }
                        else{
                            alert('Sorry, the code submitted was incorrect. :(')
                        }
                    }
                })
            })

            $("#clue").on('click', ()=>{
                alert(`if word = "imposter" then 
word[index] is "letter", i.e,
word[0] is "i" 
word[1] is "m" 
word[2] is "p"
word[3] is "o"
word[4] is "s"
word[5] is "t"
word[6] is "e"
word[7] is "r"
Repeating indexes mean that the letters are repeating there.
Once you figure out the answer run the python code. If you don't have python installed go to https://www.programiz.com/python-programming/online-compiler/ and paste the code and run it.`)
            })
            $(".para-form").on('submit', (e) => {
                e.preventDefault()
                $.ajax({
                    url: '/techsprint/treasurehunt_challenge/verify2',
                    method: 'POST',
                    data: {
                        para: $('.para-field').first().val(),
                    },
                    headers: {'X-CSRFToken' : csrftoken},
                    success: (result) => {
                        document.querySelector('.para-field').value = "";
                        if(result.answer){
                            alert('Congratulations! You have cracked the challenge! We will announce the results 30 minutes after the end of the event.')
                            window.location.replace('/techsprint/treasurehunt_challenge/acknowledgement')
                        }
                        else{
                            alert('Sorry, the code submitted was incorrect. :(')
                        }
                    }
                })
            })
        }
    </script>
</head>
<div class="container">
    <div class="navbar">
        <div class="menu">
            <a class="navbar-brand text-uppercase" href="/techsprint" style="font-family: Montserrat, sans-serif;color: rgb(255,255,255); text-decoration: none;"><strong>TECH</strong><span style="color: rgb(0,252,25);"><strong><em>SPRINT</em></strong></span></a>
            <div class="hamburger-menu" style="margin-right: 1rem;">
                <div class="bar"></div>
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="main">
            <header>
                <div class="overlay">
                    <div class="inner" style="padding-bottom: 0; overflow: auto;">
                        <p>Hello guys! Congratulations on clearing the first challenge. Now we are going to give you a set of chellenges and hope you guys will complete it soon</p><br><br>
                        <p>The Following are the next challenges:</p><br><br> 
                        <p class="main-content">[1]<a href="{% static 'secret.mp3' %}" download="{% static 'secret.mp3' %}"><button class="btn btn-indigo btn-lg" type="button" style="align-items: center">Download your second challenge file</button></a></p><br>
                        <p class="verification-text">Enter the code to proceed</p>
                        <form class="verification-form">
                            <input type="number" class="ans-field"/>
                            <button type="submit" class="btn">Submit</button>
                        </form>
                        <p class="para-text" style="display:none;">Enter the password to proceed</p>
                        <form class="para-form" style="display:none; margin-bottom: 0;">
                            <input type="text" class="ans-field para-field"/>
                            <button type="submit" class="btn">Submit</button>
                        </form>
                        <button class="btn btn-lg" id="clue" style="display:none;">CLUE!</button>
                    </div>
                </div>
            </header>
        </div>
        <div class="shadow one"></div>
        <div class="shadow two"></div>
    </div>
    <div class="links">
        <ul>
            <li><a href="/techsprint/treasurehunt_challenge/home" style="--i: 0.1s;">Home</a></li>
            <li><a href="/techsprint/treasurehunt_challenge/hints" style="--i: 0.1s;">Hints</a></li>
            <li><a href="/techsprint/treasurehunt_challenge/acknowledgement" style="--i: 0.15s;">Acknowledgements</a></li>
        </ul>
    </div>
</div>
