{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Techsprint - 404 Impostor Not Found</title>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" type="image/x-icon" href="{%static 'assets/img/ts.ico'%}" />
    <link rel="stylesheet" href="{% static 'decoding/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'decoding/fonts/fontawesome5-overrides.min.css'%}">
    <link rel="stylesheet" href="{% static 'decoding/css/untitled.css'%}">
</head>
<style>
    @font-face {
        font-family: Conv_BinaryWaters;
        src: url({% static 'decoding/fonts/BinaryWaters.eot' %}) format('embedded-opentype'),
        url({% static 'decoding/fonts/BinaryWaters.woff' %}) format('woff'),
        url({% static 'decoding/fonts/BinaryWaters.ttf' %}) format('truetype'),
        url({% static 'decoding/fonts/BinaryWaters.svg' %}) format('svg');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
	font-family: MAD hacker;
	src: url({% static 'decoding/fonts/MADhacker-Italic.woff2' %}) format('woff2'),
	url({% static 'decoding/fonts/MADhacker-Italic.woff' %}) format('woff');
	font-weight: normal;
	font-style: italic;
}
</style>
<body id="page-top">
    <header class="masthead" style="background: url(&quot;{% static 'decoding/img/pexels-markus-spiske-1089438.jpg'%}&quot;) center / cover no-repeat;">
        <div class="container">
            <div class="intro-text" style="letter-spacing: 0px;">
                <div class="intro-lead-in"><span id="head-text" style="font-family: Conv_BinaryWaters;font-size: 27px;font-style: normal;">WELCOME TO TECHSPRINT!</span></div>
                <div class="intro-heading text-uppercase" style="font-family: 'Conv_Bad Signal';"><span class="text-break text-lowercase" style="font-size: 61px;font-family: Conv_BinaryWaters;letter-spacing: 6px;font-weight: 599;">404 imposter not found</span></div><a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger"
                    role="button" href="#contact" style="background: rgb(32,157,82);border-color: rgb(32,157,82);">REGISTER HERE!</a></div>
        </div>
    </header>
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">ABOUT THE EVENT</h2>
                    <h3 class="text-muted section-subheading">Do you have what it takes to crack our challenges?</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4"><span class="fa-stack fa-4x" style="color: rgb(32,157,82);"><i class="fa fa-circle fa-stack-2x text-primary" style="color: rgb(32,157,82) !important;"></i><i class="fa fa-unlock-alt fa-stack-1x fa-inverse"></i></span>
                    <h4 class="section-heading">Solve</h4>
                    <p class="text-muted">Can you crack our challenges under the clock or will you crack under the pressure? Get your Sherlock hats on as it is time to solve. (No programming language required)</p>
                </div>
                <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary" style="color: rgb(32,157,82) !important;"></i><i class="fa fa-users fa-stack-1x fa-inverse"></i></span>
                    <h4 class="section-heading">Compete</h4>
                    <p class="text-muted">With participation of students from grade 6 - 12 of our school, you will have to stay on your toes to emerge victorious.</p>
                </div>
                <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary" style="color: rgb(32,157,82) !important;"></i><i class="fa fa-trophy fa-stack-1x fa-inverse"></i></span>
                    <h4 class="section-heading">Win</h4>
                    <p class="text-muted">If you have cracked the most number of challenges in the least amount of time, you will emerge victorious. Don't forget if you are too slow you lose.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="contact" style="background-image:url('{% static 'decoding/img/map-image.png' %}');">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">REGISTER</h2>
                    <h3 class="section-subheading text-muted">Convinced to take part in the contest? Register now!</h3>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdQqW6WEBfYQR3PyMQiASm3JCZ5XuD-MmEIKM4mM7XgGUMgMQ/viewform?embedded=true" width="100%%" height="1139" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4"><span class="copyright">Copyright&nbsp;© Techsprint 2020</span></div>
                <div class="col-md-3">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"></li>
                        <li class="list-inline-item"></li>
                    </ul>
                </div>
                <div class="col-md-5"><span class="copyright">Made at <i class="fas fa-home"></i> by Avaneesh Kumar and Narayan S</span></div>
            </div>
        </div>
    </footer>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
        <div class="container"><a class="navbar-brand text-uppercase" href="/techsprint" style="font-family: Montserrat, sans-serif;color: rgb(255,255,255);"><strong>tech</strong><span style="color: rgb(0,252,25);"><strong><em>SPRINT</em></strong></span></a><button data-toggle="collapse"
                data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" data-toogle="collapse" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div
                class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto text-uppercase">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#services">ABOUT</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">REGISTER</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="{% static 'decoding/js/agency.js' %}"></script>
</body>

</html>