<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DPS IT COUNCIL</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <script type="text/javascript">
        window.onload = function() {
            document.addEventListener("contextmenu", function(e) {
                e.preventDefault();
            }, false);
            document.addEventListener("keydown", function(e) {
                //document.onkeydown = function(e) {
                // "I" key
                if (e.ctrlKey && e.shiftKey && e.keyCode == 73) {
                    disabledEvent(e);
                }
                // "J" key
                if (e.ctrlKey && e.shiftKey && e.keyCode == 74) {
                    disabledEvent(e);
                }
                // "S" key + macOS
                if (e.keyCode == 83 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
                    disabledEvent(e);
                }
                // "U" key
                if (e.ctrlKey && e.keyCode == 85) {
                    disabledEvent(e);
                }
                // "F12" key
                if (event.keyCode == 123) {
                    disabledEvent(e);
                }
            }, false);

            function disabledEvent(e) {
                if (e.stopPropagation) {
                    e.stopPropagation();
                } else if (window.event) {
                    window.event.cancelBubble = true;
                }
                e.preventDefault();
                return false;
            }
        }
    </script>
</head>
<div class="container">
    <div class="navbar">
        <div class="menu">
            <a class="navbar-brand text-uppercase" href="/techsprint" style="font-family: Montserrat, sans-serif;color: rgb(255,255,255); text-decoration: none;"><strong>TECH</strong><span style="color: rgb(0,252,25);"><strong><em>SPRINT</em></strong></span></a>
            <div class="hamburger-menu" style="margin-right: 1rem;">
                <div class="bar"></div>
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="main">
            <header>
                <div class="overlay">
                    <div class="inner">
                        <h1 class="text-uppercase" style="color: white; font-size: 2.2em;">404 IMPOSTOR NOT FOUND!</h1><br/><br/>
                        <p>Everyone has a sherlock in them, this is pretty<br>much a virtual treasure hunt with basic IT knowledge required. Lets see if you can get through our virtual road (we are sure you won't) prerequisites: a very high level of curiosity.</p><br><br><br>
                        <h3>RULES:<br></h3>
                        
        b)  
        c) 
                        <p>1. To proceed, use the navigation bar above and go to challenges. 2.You are ALLOWED to use an INTERNET BROWSER to help yourself crack the challenges.<br> 3.Don't Share your answers with others. It will lead to disqualification of the event.<br> 4.If you are stuck feel free, to use the clues<br></p>
                    </div>
                </div>
            </header>
        </div>
        <div class="shadow one"></div>
        <div class="shadow two"></div>
    </div>
    <div class="links">
        <ul>
            <li><a href="/techsprint/treasurehunt_challenge/hints" style="--i: 0.1s;">Hints</a></li>
            <li><a href="/techsprint/treasurehunt_challenge/challenge" style="--i: 0.05s;">Challenge</a></li>
            <li><a href="/techsprint/treasurehunt_challenge/acknowledgement" style="--i: 0.15s;">Acknowledgements</a></li>
        </ul>
    </div>
</div>
<script src="{% static 'app.js'%}"></script>