{% load static %}
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DPS IT COUNCIL</title>
    {% csrf_token %}
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="{% static 'ack.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script type="text/javascript">
        window.onload = function() {
            document.addEventListener("contextmenu", function(e) {
                e.preventDefault();
            }, false);
            document.addEventListener("keydown", function(e) {
                //document.onkeydown = function(e) {
                // "I" key
                if (e.ctrlKey && e.shiftKey && e.keyCode == 73) {
                    disabledEvent(e);
                }
                // "J" key
                if (e.ctrlKey && e.shiftKey && e.keyCode == 74) {
                    disabledEvent(e);
                }
                // "S" key + macOS
                if (e.keyCode == 83 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
                    disabledEvent(e);
                }
                // "U" key
                if (e.ctrlKey && e.keyCode == 85) {
                    disabledEvent(e);
                }
                // "F12" key
                if (event.keyCode == 123) {
                    disabledEvent(e);
                }
            }, false);

            function disabledEvent(e) {
                if (e.stopPropagation) {
                    e.stopPropagation();
                } else if (window.event) {
                    window.event.cancelBubble = true;
                }
                e.preventDefault();
                return false;
            }

            const csrftoken = Cookies.get('csrftoken');
            $('.register-form').submit((e) => {
                e.preventDefault();
                $.ajax({
                    url: '/techsprint/treasurehuntrandomkey/register',
                    type: 'POST',
                    data: {
                        name: $('#name').val(),
                        pass: $('#pass').val(),
                        mail: $('#mail').val()
                    },
                    headers: {'X-CSRFToken': csrftoken},
                    success: ()=>{
                        alert("Congratulations! You have been registered!")
                        window.location.replace('/techsprint/treasurehuntrandomkey/image_challenge')
                    },
                    error: ()=>{
                        alert("There has been some error! Contact us on discord immediately!")
                    }
                })
            })
        }
    </script>
</head>
<div class="container">
    <div class="navbar">
        <div class="menu" style="min-height: 4rem;">
            <a class="navbar-brand text-uppercase" href="/techsprint" style="font-family: Montserrat, sans-serif;color: rgb(255,255,255); text-decoration: none;"><strong>TECH</strong><span style="color: rgb(0,252,25);"><strong><em>SPRINT</em></strong></span></a>
        </div>
    </div>
    <div class="main-container">
        <div class="main">
            <header>
                <div class="overlay">
                    <div class="inner">
                        <h3 style="text-transform: uppercase; color: #f5f5f5;">Register for 404 imposter not found</h3>
                        <form style="display: flex; flex-direction: column;" class="register-form">
                            <input type="text"style="padding: 0.6rem 1rem; margin-top: 2rem;" id="name" placeholder="Team Name/Nickname"/>
                            <input type="email" style="padding: 0.6rem 1rem; margin-top: 2rem; margin-bottom: 2rem;" id="mail" placeholder="Team Leader's/Solo Registration Email"/>
                            <input type="password" style="padding: 0.6rem 1rem; margin-top: 2rem; margin-bottom: 2rem;" id="pass" placeholder="Password"/>
                            <button type="submit" class="btn btn-lg">Register</button>
                        </form>
                        <p style="margin-top: 2rem;">Already registered? <a href="/techsprint/treasurehuntrandomkey/login" style="color: grey;">Login</a></p>
                    </div>
                </div>
            </header>
        </div>
        <div class="shadow one"></div>
        <div class="shadow two"></div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'app.js' %}"></script>