{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Techsprint - Team</title>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" type="image/x-icon" href="{%static 'assets/img/ts.ico'%}" />
    <link rel="stylesheet" href="{% static 'team/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body id="page-top">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
        <div class="container"><a class="navbar-brand" href="#page-top">Brand</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" data-toogle="collapse" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto text-uppercase">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#services">Services</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead" style="background: url(&quot;{% static 'team/img/pexels-fauxels-3182784.jpg' %}&quot;) center / cover;">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"><span>Welcome to Techsprint!</span></div>
                <div class="intro-heading text-uppercase"><span>MEET THE TEAM</span></div>
            </div>
        </div>
    </header>
    <section id="services" style="background: rgb(253,254,255);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">FPS</h2>
                    <h3 class="text-muted section-subheading">Meet the organizers of the gaming event!</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="{% static 'team/img/Namish.png'%}">
                        <h4>Namish Srinivas</h4>
                        <p class="text-muted">President/Organizer of PC Gaming</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item align-middle"><a href="https://www.instagram.com/namish_18/"><i class="fa fa-instagram align-center align-middle"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="{% static 'team/img/Neil.png' %}">
                        <h4>Neil Moorthy</h4>
                        <p class="text-muted">Vice President/Organizer of Mobile Gaming</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item"><a href="https://www.instagram.com/neil_moorthy/"><i class="fa fa-instagram align-center align-middle"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="{% static 'team/img/Ashman.png' %}">
                        <h4>Ashman Singh</h4>
                        <p class="text-muted">Organizer of PC Gaming</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="{% static 'team/img/Ekanshh.png' %}">
                        <h4>Ekanshh Praveen</h4>
                        <p class="text-muted">Organizer of PC Gaming</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item"><a href="https://www.instagram.com/3kxnshh/"><i class="fa fa-instagram align-center align-middle"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="{% static 'team/img/Rohit.png' %}">
                        <h4>Rohit Bharadwaj</h4>
                        <p class="text-muted">Organizer of PC Gaming</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item"><a href="https://www.instagram.com/_rohit_1708/"><i class="fa fa-instagram align-center align-middle"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="{% static 'team/img/Narayan.png' %}">
                        <h4>Narayan S</h4>
                        <p class="text-muted">Organizer of PC Gaming</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="{% static 'team/img/Kaustubh.png' %}">
                        <h4>Kaustubh Mukherjee</h4>
                        <p class="text-muted">Organizer of PC Gaming</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item"><a href="https://www.instagram.com/boredalien248/"><i class="fa fa-instagram align-center align-middle"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="{% static 'team/img/Siddhant.png' %}">
                        <h4>Siddhant Joshi</h4>
                        <p class="text-muted">Organizer of Mobile Gaming</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item"><a href="https://www.instagram.com/siddhantjoshi1028/"><i class="fa fa-instagram align-center align-middle"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="{% static 'team/img/Zaid.png'%}">
                        <h4>Zaid Mallik</h4>
                        <p class="text-muted">Organizer of Mobile Gaming</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="decoding" style="background: rgb(248, 249,250);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">404 imposter NOT FOUND</h2>
                    <h3 class="text-muted section-subheading">Meet the organizers of the decoding event!</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="{% static 'team/img/Kushal.png' %}">
                        <h4>Kushal Sai</h4>
                        <p class="text-muted">Organizer of 404 Imposter Not Found</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="{% static 'team/img/Kushal.png' %}">
                        <h4>Amog Rao</h4>
                        <p class="text-muted">Organizer of 404 Imposter Not Found</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="decoding-1" style="background: rgb(253,254,255);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">THINK-A-THON</h2>
                    <h3 class="text-muted section-subheading">Meet the organizers of the hackathon event!</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="{% static 'team/img/Neil.png' %}">
                        <h4>Neil Moorthy</h4>
                        <p class="text-muted">Vice President/Organizer of Thinkathon</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item"><a href="https://www.instagram.com/neil_moorthy/"><i class="fa fa-instagram align-center align-middle"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="{% static 'team/img/Avaneesh.png' %}">
                        <h4>Avaneesh Kumar</h4>
                        <p class="text-muted">Organizer of Think-a-thon</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item"><a href="https://www.instagram.com/avaneeshk056/"><i class="fa fa-instagram align-center align-middle"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="{% static 'team/img/Akshat.png' %}">
                        <h4>Akshat Singh</h4>
                        <p class="text-muted">Organizer of Think-a-thon</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item"><a href="https://www.instagram.com/__fateturner__/"><i class="fa fa-instagram align-center align-middle"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="background-color: rgb(248, 249, 250)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">VFX AND GRAPHICS</h2>
                    <h3 class="text-muted section-subheading">Meet the graphic designers and video editors!</h3>
                </div>
            </div>
            <div class="row text-center">
                    <div class="col-md-4">
                        <div class="team-member"><img class="rounded-circle mx-auto" src="{% static 'team/img/Mihir.png' %}">
                            <h4>Mihir Wankhade</h4>
                            <p class="text-muted">Graphics Designer</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-member"><img class="rounded-circle mx-auto" src="{% static 'team/img/Kushal.png' %}">
                            <h4>Amog Rao</h4>
                            <p class="text-muted">Graphics Designer/Video Editor</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-member"><img class="rounded-circle mx-auto" src="{% static 'team/img/Zaid.png' %}">
                            <h4>Zaid Mallik</h4>
                            <p class="text-muted">Video Editor</p>
                        </div>
                    </div>
            </div>
        </div>
    </section>
    <footer style="background: rgb(248,249,250);">
        <div class="container">
            <div class="row">
                <div class="col-md-4"><span class="copyright">Copyright&nbsp;© Techsprint 2020</span></div>
                <div class="col-md-3">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram align-center align-middle"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-5"><span class="copyright">Made at&nbsp;</span><i class="fa fa-home"></i><span class="copyright">&nbsp; by Avaneesh Kumar and Narayan S</span></div>
            </div>
        </div>
    </footer>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
        <div class="container"><a class="navbar-brand text-uppercase" href="/techsprint" style="font-family: Montserrat, sans-serif;color: rgb(255,255,255);"><strong>tech</strong><span style="color: rgb(0,252,25);"><strong><em>SPRINT</em></strong></span></a><button data-toggle="collapse"
                data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" data-toogle="collapse" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div
                class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto text-uppercase">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#services">FPS</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#decoding">404 Imposter NOT FOUND</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#decoding-1">THINK-A-THON</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="{% static 'team/js/script.min.js' %}"></script>
</body>

</html>