@media (min-width: 768px) {
  #head-text {
    font-size: 50px !important;
  }
}

.btn.btn-primary.btn-xl.text-uppercase.js-scroll-trigger:hover {
  background-color: rgb(44,192,103) !important;
  border-color: rgb(44,192,103) !important;
}

