@font-face {
	font-family: 'Good Idea St';
	src: url("../fonts/GoodIdeaSt.fb8966839a1f.woff2") format('woff2'),
	url("../fonts/GoodIdeaSt.75a367e0e51b.woff") format('woff');
	font-weight: normal;
	font-style: normal;
}