@font-face {
	font-family: 'Doctor Glitch';
	src: url(../../assets/fonts/DoctorGlitch.woff2) format('woff2'),
	url(../../assets/fonts/DoctorGlitch.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}