@font-face {
	font-family: 'Gameplay';
	src: url(../../assets/fonts/Gameplay.woff2) format('woff2'),
	url(../../assets/fonts/Gameplay.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}